body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .memo-shade {
    background-color: #0a009c;
    color: #fcff4c;
    border-radius: 0 0 20px 20px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: -20px;
    padding-top: 20px;
    /* margin-left: -10.2vw; */
    position: relative;
    /* width: 100vw; */
    font-weight: bold;
 
  }
  
  
  .date-section {
    margin-top: 16px;
  }
  
  .emu-type-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .emu-type-btn {
    flex: 1;
    background-color: #4B6EF5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
  }

  #coach-number{
    margin-left: 120px;
  }
  
  .emu-type-btn.active {
    background-color: #3651C7;
  }
  
  .form-section {
    margin-top: 16px;
  }
  
  .next-btn {
    margin-top: 16px;
  }
  
  .form-floating > label {
    transition: all 0.2s ease-in-out;
  }
  
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
  }